<section id="selectors">
  <div class="container">
    <div class="card">
      <div class="row p-2">
        <div class="col">
          <label for="source">Exchange&nbsp;:&nbsp;</label>
          <select
            class="form-select"
            [(ngModel)]="sSource"
            name=""
            id="source"
            (change)="setIndexTypes()"
            placeholder="Select Exchange"
          >
            <option *ngFor="let s of sources" value="{{ s }}">
              {{ s.toUpperCase() }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="indexType">Type&nbsp;:&nbsp;</label>
          <select
            class="form-select"
            [(ngModel)]="sIndexType"
            name=""
            id="indexType"
            (change)="setIndices()"
            placeholder="Select Type"
          >
            <option *ngFor="let it of indexTypes" value="{{ it }}">
              {{ it.toUpperCase() }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="indices"> Index&nbsp;:&nbsp;</label>
          <select
            class="form-select"
            [(ngModel)]="sIndex"
            name=""
            id="indices"
            (change)="getData()"
            placeholder="Select Index"
          >
            <option *ngFor="let i of indexes" value="{{ i }}">
              {{ i.toUpperCase() }}
            </option>
          </select>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
          <button
            (click)="refreshGrid()"
            class="btn btn-sm btn-primary btn-hover"
          >
            Refresh
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="grid" class="container overflow-auto mt-4 mb-4">
  <div>
    <app-grid
      [source]="sSource"
      [index]="sIndex"
      [refreshGrid$]="gridRefresh$"
    ></app-grid>
  </div>
  <!-- {{response| json}} -->
</section>

<router-outlet></router-outlet>
